<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CoinMarketCap</a>
  <!-- <img src="..\gitlab\BootstrapAssignment\icon.JPG" width="30" height="30" alt=""> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container" id="navbarSupportedContent">
    <ul class="navbar-nav mr-sm-8">
      <li class="nav-item active">
        <a class="nav-link" href="#">Ranking <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tool</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resource</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<p  class= "text-center" font="bold" > Top 100 Cryptocurrencies by Market Capitalization. </p>

<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cryptocurrencies </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
        <li class=" dropdown-header">All Cryptocurrencies</li>
        <a class="dropdown-item" href="#">Top 100</a>
        <a class="dropdown-item" href="#">Full List </a>
        <li class=" dropdown-header">Coins Only</li>
        <a class="dropdown-item" href="#">Top 100 </a>
        <a class="dropdown-item" href="#">Full List</a>
        <a class="dropdown-item" href="#">Market Cap by Circulating Supply</a>
        <a class="dropdown-item" href="#">Market Cap by Total Supply</a>
        <a class="dropdown-item" href="#">Filter Non-Mineable</a>
        <li class=" dropdown-header">Tokens Only</li>
        <a class="dropdown-item" href="#">Top 100</a>
        <a class="dropdown-item" href="#">Full List</a>
        <a class="dropdown-item" href="#">Market Cap by Circulating Supply</a>
        <a class="dropdown-item" href="#">Market Cap by Total Supply</a>
 </ul> 


<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Exchanges</button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Top 100 By Adjusted Volume</a>
    <a class="dropdown-item" href="#">Top 100 By Reported Volume</a>
  </ul>

<div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">Watchlist</button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      </ul>
    </div>
  </div>
</div>

 <div class="container">        
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Market Cap</th>
        <th>Price</th>
        <th>Volume (24h)</th>
        <th>Ciculating Supply</th>
        <th>Change (24h)</th>
        <th>Price Graph (7d) </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Bitcoin</td>
        <td>$174,880,076,996</td>
        <td>$9,763.89</td>
        <td>$11,799,757,677	</td>
        <td>17,910,900 BTC</td>
        <td> <font color="green">1.34%</font></td>
        <td>Graph</td>

      </tr>
      <tr>
          <td>2</td>
          <td>Ethereum</td>
          <td>$18,442,545,486</td>
          <td>$171.44</td>
          <td>$5,268,857,164</td>
          <td>107,572,424 ETH</td>
          <td> <font color="red">-0.49% </font> </td>
          <td>Graph</td>
      </tr>
      <tr>
          <td>3</td>
          <td>XRP</td>
          <td>$10,984,083,590</td>
          <td>$0.255535</td>
          <td>$841,683,727</td>
          <td>42,984,656,144 XRP *</td>
          <td> <font color="red">-0.79% </font></td>
          <td>Graph</td>
      </tr>
      <tr>
          <td>4</td>
          <td>Bitcoin Cash</td>
          <td>$5,069,190,651</td>
          <td>$281.92</td>
          <td>$1,044,068,486</td>
          <td>17,980,663 BCH</td>
          <td> <font color="green">0.83% </font></td>
          <td>Graph</td>
      </tr>
      <tr>
          <td>5</td>
          <td>Litecoin</td>
          <td>$4,121,163,845</td>
          <td>$65.24</td>
          <td>$2,050,013,948</td>
          <td>63,164,899 LTC</td>
          <td> <font color="green">0.51%</font></td>
          <td>Graph</td>
      </tr>
      <tr>
          <td>6</td>
          <td>Tether</td>
          <td>$4,018,034,899</td>
          <td>$1.00</td>
          <td>$14,013,322,766</td>
          <td>4,006,669,728 USDT *</td>
          <td> <font color="red">-0.06% </font></td>
          <td>Graph</td>
      </tr>
      <tr>
          <td>7</td>
          <td>Binance Coin</td>
          <td>$3,324,932,244</td>
          <td>$21.38</td>
          <td>$168,780,081</td>
          <td>155,536,713 BNB *</td>
          <td> <font color="red">-1.20%</font></td>
          <td>Graph</td>
      </tr>
      <tr>
          <td>8</td>
          <td>EOS</td>
          <td>$10,984,083,590</td>
          <td>$0.255535</td>
          <td>$841,683,727</td>
          <td>42,984,656,144 XRP *</td>
          <td> <font color="red">-0.79% </font></td>
          <td>Graph</td>
      </tr>
      <tr>
          <td>9</td>
          <td>Bitcoin SV</td>
          <td>$10,984,083,590</td>
          <td>$0.255535</td>
          <td>$841,683,727</td>
          <td>42,984,656,144 XRP *</td>
          <td> <font color="red">-2.26%</font></td>
          <td>Graph</td>
      </tr>   
      <tr>
          <td>10</td>
          <td>Stellar</td>
          <td>$10,984,083,590</td>
          <td>$0.255535</td>
          <td>$841,683,727</td>
          <td>42,984,656,144 XRP *</td>
          <td> <font color="green">4.62%</font></td>
          <td>Graph</td>

      </tr>
    </tbody>
  </table>
</div>


<router-outlet></router-outlet>