<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CoinMarketCap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="container" id="navbarSupportedContent">
      <ul class="navbar-nav mr-sm-8">
        <li class="nav-item active">
          <a class="nav-link" href="#">Ranking <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tool</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Resource</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <img class="center" src="https://s0.2mdn.net/6974925/2-728x90.gif" />
  <div class="row">
    <div class="col-md-6">

        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Buy
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Buy</a>
              <a class="dropdown-item" href="#">Buy Bitcoin Now</a>
            </div>
          </div>

<div class="btn-group">
    <button type="button" class="btn btn-primary">Exchange</button>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Exchange</a>

      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Trade
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Trade</a>
         </div>
      </div>
   </div>
  </div>
 
  <H5> Bitcoin </H5>

  <div class="container">        
    <table align="right" class="table">
      <thead>
        <tr>
          <th>Market Cap</th>
          <th>Volume (24h)</th>
          <th>Circulating Supply</th>
          <th>Max Supply</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>$189,261,414,568 USD </td>
          <td>$19,125,025,211 USD</td>
          <td>17,914,637 BTC</td>
          <td>21,000,000 BTC</td>
        </tr>
